// Here you can add other styles

.box-login{
    min-width: 30vw;
}
.c-sidebar-brand-full{
    max-width: 170px;
}

.c-sidebar-brand-full, .logo_w{
    max-width: 170px;
}

.c-sidebar-brand-minimized{
    max-width: 39px;
}

.btn-sm i.fal{
    width: auto!important;
    height: auto!important;
    font-size: 12px!important;
    margin: 0!important;
}

header{
    .c-header-toggler-icon{
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2.25' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")!important;

        &:hover{
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2.25' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")!important;
        }
    }

    .c-header-nav{
        a.c-header-nav-link{
            color: #fff!important;
        }
    }

    &.c-header[class*="bg-"]{
        border-color: #d8dbe0!important;
    }
}

.vgt-table *{
    font-size: 14px;
}